.body {
  background-color: #f5f5f5;
}
.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 408px;
  border-radius: 8px;
  background: #fff;
  padding: 24px;
}

#name-input {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

h1 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.96px;
}
