.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 408px;
  border-radius: 8px;
  background: #fff;
  padding: 24px;
}

.login-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.form-field {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 8px 16px;
}

.form-send-btn {
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  width: 86px;
}
