.widget {
  border-radius: 8px;
  background: #fff;
  text-align: center;
  padding: 100px 0;
  width: 308px;
  margin: 0 auto;
}

p {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin: 0;
}

.change-color {
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  padding: 8px 16px;
  margin-top: 16px;
  cursor: pointer;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
